body{
  background-color: grey;
}

.filechooser{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.labelupload{
  cursor: pointer;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  background-color: #636363;
}

.labelupload:hover{
  background-color: lightgrey;
}

.SendRequest{
  cursor: pointer;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  background-color: #636363;
}

.SendRequest:hover{
  background-color: lightgrey;
}

.boutonload{
  cursor: pointer;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  background-color: #636363;
}

.boutonload:hover{
  background-color: lightgrey;
}

textarea{
  color: black;
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
}

label[for=textinput]{
  color: white;
}

label[for=paragraphe1]{
  color: white;
}

label[for=paragraphe2]{
  color: white;
}

label[for=ContenueWordListInsert]{
  color: white;
}

label[for=ContenueWordListReplace]{
  color: white;
}

.inputvaleurebrut{
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
}

.labelinput{
  color: white;
  position: relative;
  border-bottom: 1px black;
}

.labelinput:before{
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.labelinput:hover:before{
  opacity: 1;
  visibility: visible;
}
