.labelinput {
  color: red;
}

.labelinput{
  position: relative;
  border-bottom: 1px black;
}

.labelinput:before{
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.labelinput:hover:before{
  opacity: 1;
  visibility: visible;
}
